h1{
    border: 2px solid red;
}

.main{
    border: 2px solid red;
    padding: 10px;
}

p:not(.notMe){
    border: 2px solid red ;
    padding: 10px;
}


li{
    border: 2px solid red;
    /* list-style: outside; */
}


button{
    border: 2px solid red;
}

a{
    border: 2px solid red;
    padding: 2px;
}

ul{
    border: 2px solid red;
    list-style: outside;
    padding: 20px;
}